body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ITD {
  margin: 50px 0;
}

.streamers,
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
}
.streamer,
.card {
  border: 2px solid #fff;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.streamer.selected,
.card.selected {
  border-color: red;
}
.instructions,
.secret-function {
  margin: 10px;
  padding: 10px;
  border: 2px solid #fff;
}

.streamer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100px;
  height: 10px;
  text-align: center;
  align-content: center;
  transition: all 0.3s;
}

.streamer:hover {
  -webkit-box-shadow: 0px 0px 24px 4px rgba(255, 0, 0, 0.54);
  -moz-box-shadow: 0px 0px 24px 4px rgba(255, 0, 0, 0.54);
  box-shadow: 0px 0px 24px 4px rgba(255, 0, 0, 0.54);
}

.streamer-name {
  display: flex;
  width: 100%;
  height: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cards {
  width: 100%;
  max-width: 1000px;
  gap: 20px;
  display: flex;
  margin: 0 auto;
}

.card {
  width: 200px;
  height: 100px;
  text-align: center;
  align-content: center;
  perspective: 1000px;
  border-radius: 10px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}
.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 10px;
}
.card-back {
  transform: rotateY(180deg);
}

.streamer-text {
  width: 100px;
  height: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid red;
}

.card-front {
  background: -webkit-linear-gradient(
    270deg,
    rgb(51, 101, 16) 18%,
    rgb(99, 88, 199)
  );
  background: -moz-linear-gradient(
    270deg,
    rgb(51, 101, 16) 18%,
    rgb(99, 88, 199)
  );
  background: linear-gradient(270deg, rgb(51, 101, 16) 18%, rgb(99, 88, 199));
}

.card-back {
  background: -webkit-linear-gradient(
    270deg,
    rgb(153, 199, 88) 18%,
    rgb(16, 48, 101)
  );
  background: -moz-linear-gradient(
    270deg,
    rgb(153, 199, 88) 18%,
    rgb(16, 48, 101)
  );
  background: linear-gradient(270deg, rgb(153, 199, 88) 18%, rgb(16, 48, 101));
}

.card {
  padding: 0;
}
